*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 14px;
}

[v-cloak] {
	display: none;
}

#app {
	max-width: 600px;
	margin: 0 auto;
	line-height: 1.4;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	color: #324878;
}

.header h1 {
	font: 50px Helvetica, sans-serif;
	text-align: center;
	padding: 20px 0;
	color: #d9d9d9;
}

.footer {
	text-align: center;
	color: #d9d9d9;
	margin-top: 10px;
}

.todo-list {
	position: relative;
	box-shadow: 0 0 5px #555;
	padding: 5px;
}

.todo-list .input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 30px;
	color: #777;
}

.todo-list .toggle-all {
	position: absolute;
	left: 5px;
	top: 16px;
}

/*todo条目active状态样式*/
.todo-list .todo-item {
	display: block;
	position: relative;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px #d9d9d9 solid;
}

/*todo条目editing状态样式*/
.todo-list li.editing {

}

/*todo条目completed状态样式*/
.todo-list li.completed label {
	text-decoration: line-through;
	color: #d9d9d9;
}

/*todo条目active状态下，隐藏edit类*/
.todo-list .todo-item .edit {
	display: none;
}


/*todo条目editing状态下，隐藏view类*/
.todo-list li.editing .view {
	display: none;
}

/*todo条目editing状态下，显示edit类*/
.todo-list li.editing .edit {
	display: block;
	line-height: 60px;
	height: 60px;
	margin-left: 20px;
	padding-left: 10px;
	font-size: 24px;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	color: #324878;
}

.todo-item .toggle {
	float: left;
	height: 60px;
	line-height: 60px;
}

.todo-item .todo-label {
	font-size: 24px;
	padding: 15px 60px 15px 20px;
	text-align: left;
	transition: color 0.4s;
}

.todo-item .remove-todo {
	float: right;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
	color: transparent;
}

.todo-item .remove-todo:hover {
	color: #777;
}

.todo-tab {
	display: flex;
	justify-content: space-between;
	color: #777;
	height: 30px;
	line-height: 30px;
}

.todo-tab .todo-filter .filter-default {
	text-align: center;
	padding: 3px 7px;
	cursor: pointer;
	border: 1px transparent solid;
	border-radius: 3px;
}

.todo-tab .todo-filter .filter-default:hover {
	border: 1px #d9d9d9 solid;
}

.todo-tab .todo-filter .filter-selected {
	border: 1px #999 solid;
}

.todo-tab .clear-completed-wrap {
	width: 110px;
}

.todo-tab .clear-completed {
	cursor: pointer;
}

.todo-tab .clear-completed:hover {
	text-decoration: underline;
}
